TreeView {
  flex-grow: 1;
  height: "100%";
  width: "100%";
  overflow-x: "hidden";
  overflow-y: "auto";
}

Typography {
  font-size: 12;
}

.textField {
  height: 24px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
